if [ -f ~/.nvm/nvm.sh ]
  then
  source ~/.nvm/nvm.sh
  nvm use
fi
export PATH=$PWD/node_modules/.bin:$PATH
# https://electronjs.org/docs/tutorial/using-native-node-modules
export npm_config_target=3.0.8
export npm_config_arch=x64
export npm_config_target_arch=x64
export npm_config_disturl=https://atom.io/download/electron
export npm_config_runtime=electron
export npm_config_build_from_source=true

# skip code signing for now
export CSC_IDENTITY_AUTO_DISCOVERY=false

read -n1 -p "rebuild native node modules ?  (y/n):" rebuild 

case $rebuild in
 y|Y) HOME=~/.electron-gyp npm install
esac

